---
import Layout from "../layouts/Layout.astro"
import Nav from "../components/NAV.astro"
---

<Layout
  pageTitle="Pablo Oyarce | Home Page"
  description="Main site from Pablo Oyarce's Portfolio"
>
  <Nav />
  <h1>Contenido</h1>
</Layout>
<style>
  /* Registra tu font family personalizada y le indicamos al navegador dónde encontrarla. */
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Playfair+Display&display=swap");

  h1 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 3rem;
  }
</style>
