<ul class="call-to-action">
  <li class="item-action">
    <a
      target="_blank"
      class="item-link"
      href="https://www.linkedin.com/in/pablo-oyarce-ramirez-037b62b8/"
    >
      <i class="fa-brands fa-linkedin fa-2xl"></i>
    </a>
  </li>
  <li class="item-action">
    <a target="_blank" class="item-link" href="https://github.com/Unstopabloo">
      <i class="fa-brands fa-square-github fa-2xl"></i>
    </a>
  </li>
  <li class="item-action">
    <a
      target="_blank"
      class="item-link"
      href="mailto:pablooyarceramirez@gmail.com"
    >
      <i class="fa-regular fa-envelope fa-2xl"></i>
    </a>
  </li>
  <li class="item-action">
    <a
      target="_blank"
      class="item-link"
      href="https://www.instagram.com/unstopabloo/"
    >
      <i class="fa-brands fa-instagram fa-2xl"></i>
    </a>
  </li>
</ul>

<style>
  .call-to-action {
    list-style: none;
    display: flex;
    gap: 4.5rem;
    margin: 0;
    padding: 0;
  }

  .item-action {
    border: 1px solid #6e6767;
    background-color: #f8fbee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }

  .item-link {
    color: #6e6767;
    text-decoration: none;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;
  }

  .item-link:hover .fa-linkedin {
    color: #0270ad;
  }

  .item-link:hover .fa-square-github {
    color: #000000;
  }

  .item-link:hover .fa-envelope {
    color: #e34133;
  }

  .item-link:hover .fa-instagram {
    color: #cf358f;
  }

  @media screen and (max-width: 925px) {
    .call-to-action {
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (max-width: 1420px) {
    .call-to-action {
      padding: 3rem 0;
    }
  }
</style>
