---
const links = ["Inicio", "Portafolio", "Sobre mi", "Contacto"]
---

<nav class="navigation">
  <ul class="navigation-nav">
    {
      links.map((link) => (
        <li class="nav-item">
          <a class="nav-link" href=`#${link}` >
            {link}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .navigation {
    padding: 1rem;
    width: 10%;
    border-right: 1px solid #01200f;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
  }

  .navigation-nav {
    position: fixed;
    top: 11%;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
  }

  .nav-link {
    position: relative;
    font-family: "Inter";
    text-decoration: none;
    font-size: 15px;
    color: #6e6767;
  }

  .nav-link::before {
    content: "";
    display: none;
    position: absolute;
    height: 2px;
    width: 8px;
    background-color: #3b1f2b;
    top: 40%;
    left: -20px;
  }

  .nav-link:hover {
    color: #3b1f2b;

    &::before {
      display: block;
    }
  }

  @media screen and (max-width: 925px){
    .navigation {
      display: none;
    }
  }
</style>
