---
import CallToAction from '../components/CallToAction.astro'
const { titleSect } = Astro.props
---

<section id="Contacto" class="contact-section">
  <h2 class="contact-title">{titleSect}</h2>
  <CallToAction />
</section>

<style>
  .contact-section {
    background-color: #6e6767;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
    padding-top: 3rem;
    border-bottom: 1px solid #01200f;
  }

  .contact-title {
    color: #f8fbee;
    font-family: Playfair Display;
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: fit-content;
    margin: 0;
    padding: 5rem;
  }

  @media screen and (max-width: 925px) {
    .contact-title {
      text-align: center;
    }
  }
</style>
