<footer class="footer">
  <span class="footer-text">Hecho con amor por mi 💜</span>
</footer>

<style>
  .footer {
    padding: 2rem 5rem;
  }

  .footer-text {
    color: #6e6767;
    font-size: 14px;
    font-family: Inter, sans-serif;
  }
</style>
