---
import Card from '../components/ProyectCard.astro'
---

<section id="Portafolio" class="proyects">
  <div class="proyects-first-content">
    <h2 class="proyects-title">Proyectos destacados</h2>
    <span class="proyects-tm">Portafolio 2023</span>
  </div>
  <Card
    proyectTitle="Planet Facts"
    proyectDescription="Primer proyecto real que desarrollo en React. Para desarrollarlo utilice React Router y perfeccione el manejo de estado y efectos."
    proyectImage="planet-facts"
  />
  <Card
    proyectTitle="Spotify Redesign"
    proyectDescription="Rediseño de Spotify Web, quise mantener la misma estetica del original, solo cambie un poco los colores. Esta desarrollado con Wordpress para lo que perfeccione el uso de Custom Post Type y para el reproductor se uso AJAX de jQuery."
    proyectImage="spotify-redesign"
    redirect="https://pabloyarce.laboratoriodiseno.cl/spotify-redesign"
  />
  <Card
    proyectTitle="Age Calculator"
    proyectDescription="Calculador de edad. Desafio de Frontend Mentor. En este puse en practica toda la logica condicional en JavaScript."
    proyectImage="age-calculator"
    redirect="https://calculador-de-edad.netlify.app/"
  />
</section>

<style>
  .proyects-first-content {
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
  }

  .proyects-title {
    padding-top: 5rem;
    gap: 2rem;
    display: flex;
    align-items: baseline;
    color: #3b1f2b;
    font-family: Playfair Display;
    font-size: 4vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .proyects-tm {
    color: #6e6767;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  @media screen and (max-width: 925px) {
    .proyects-title {
      font-size: 12vw;
      font-weight: 600;
      text-align: center;
    }
  }
</style>
